*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/library/src/main/native/Eigen
/*.apk
library/.cxx/
library/src/androidTest/java/com/paramsen/keigen/*MatrixTest.kt
